apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: devsecops-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
      - name: payment-service
        image: vrunda0308/payment-service:latest
        ports:
        - containerPort: 3003

---
apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: devsecops-demo
spec:
  type: LoadBalancer
  selector:
    app: payment-service
  ports:
  - port: 80
    targetPort: 3003
